<!DOCTYPE html>	
<html>
	<head>
		<title>Errand - Work Smart</title>
		<!-- Include Bootstrap's CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
		<!--<script src="../Server/public/javascripts/js.js"></script>-->	
	</head>
	
	
			<script>
    		var HOST = "";
			
    		// Assigns messages and id's to their elements
			function chitchatFeed(feed) {
				console.log(feed);


				
				for(var i = 0; i < feed.length; i++){
					document.getElementById(i).innerHTML = feed[i].message;
					document.getElementById(i + 20).innerHTML = "Author: " + feed[i].author;
					document.getElementById(i + 80).value = feed[i].uid;
					console.log(document.getElementById(i + 80).value);
					document.getElementById(i + 100).innerHTML = feed[i].timeCreated;
					//document.getElementById(i + 100).innerHTML = feed.messages[i].date;
				}
			}
			
			
			// Will load the latest feed of messages
			// from the Chit Chat server via the callback
			// function chitchatFeed()
			function postRequest(path, data, success) {
				$.ajax({
					type: "POST",
					data: data,
					url: HOST + path,
					dataType: "JSON",
					success: function(response) {
						success(response);
					}
				});
			}
			
			function getRequest(path, success) {
				$.ajax({
					type: "GET",
					url: HOST + path,
					success: function(response) {
						success(response);
					}
				});
			}
			
			function refresh(){
					getRequest("/api/tasks", function(response){
						chitchatFeed(response);
					});
			}

			
			function deleteTask(id)
			{
				var uid = {uid : document.getElementById(id).value};
				$.ajax({
					type: "POST",
					data: uid,
					url: HOST + '/api/deleteTask',
					dataType: "JSON",
					success: function(resonse) {
						success(response);
					}
				});
				location.reload();				
			}
			
			function addTask()
			{
				while (localStorage.getItem("user") == null) {
					localStorage.setItem("user", prompt("Please provide a username: ", null));
				}
				var input = document.getElementById("postInput").value;
				
				var d = new Date();
				var timeStr = "";
				
				timeStr += d.getHours() + ":" + d.getMinutes() + " " + d.getMonth() + "/" + d.getDay() + "/" + d.getYear();
				
				console.log(input);
				postRequest("/api/addTask", {
					message : input,
					author : localStorage.getItem("user"),
					timeCreated : timeStr,
					uid : guid()
				}, function(response) {
					console.log("Success");
					}
				),
				refresh();
			}
			
			function guid() {
			  function s4() {
				return Math.floor((1 + Math.random()) * 0x10000)
				  .toString(16)
				  .substring(1);
			  }
			  return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
				s4() + '-' + s4() + s4() + s4();
			}

			

		</script>
	
	
	<body>
		<div class="container">
			<div style="font-size: 36px" style="text-align: center">Errand</div>
			
			<div class="row">
				<div style="position:fixed" class="col-xs-3">
					<a onclick="refresh()" class=" glyphicon glyphicon-refresh btn btn-lg btn-primary" href="#" role="button" style="position:relative;padding:17px;width:100px;height:55px;color:orange; border: thin solid orange">	</a>
				</div>
				<div class="col-xs-3"></div>
				<div class="col-xs-6"></div>	
			</div>	
		
			<!-- Input and button for posting to Chit Chat-->
			<div class="row">
				<div class="col-xs-2"></div>

				<div class="col-xs-8">
					<div class="input-group input-group-lg">
						<input id="postInput" type="text" class="form-control" placeholder="Add new Errand...">
						<span class="input-group-btn">
							<button onclick="addTask()" style="padding-right:50px;padding-bottom:50px;border:transparent;background-color:transparent;width:100px;height:100px;color:blue;font-size:25px"class="btn btn-default glyphicon glyphicon-pencil" type="button"></button>
						</span>
					</div>
				</div>
				<div class="col-xs-2"></div>
			</div>

			<div class="row">
				<div class="col-xs-4">
			 		<div class="jumbotron">
						<div class="container">
							<div class="row">
								<div class="col-xs-4" style="left: 20px">
									<div id="0" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
									<div id="20" class="col-xs" style="text-align: left"></div>
									<div id="100" class="col-xs" style="text-align: left"></div>
								</div>
								
								<div class="col-xs-4" style="right: 110px">
									<button id="80" type="button" class="btn btn-primary" onclick = "deleteTask(80)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "40"></div></button>
								</div>
							</div>
						</div>
					</div>
				</div> 
			
			<div class="col-xs-4">
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							<div class="col-xs-4" style="left: 20px">
								<div id="1" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
								<div id="21" class="col-xs" style="text-align: left"></div>
								<div id="101" class="col-xs" style="text-align: left"></div>
							</div>
							
							<div class="col-xs-4" style="right: 110px">
								<button id="81" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(81)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "41"></div></button>	
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-4">
				<div class="jumbotron">
						<div class="container">
							<div class="row">
								<div class="col-xs-4" style="left: 20px">
									<div id="2" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
									<div id="22" class="col-xs" style="text-align: left"></div>
									<div id="102" class="col-xs" style="text-align: left"></div>
								</div>

								<div class="col-xs-4" style="right: 110px">
									<button id="82" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(82)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "42"></div></button>
								</div>
							</div>
						</div>
				</div>		
			</div>
		</div>



		<div class="row">
			<div class="col-xs-4">
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							<div class="col-xs-4" style="left:20px">
								<div id="3" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
								<div id="23" class="col-xs" style="text-align: left "></div>
								<div id="103" class="col-xs" style="text-align: left"></div>
							</div>

							<div class="col-xs-4" style="right:110px">
								<button id="83" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(83)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "43"></div></button>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xs-4">
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							<div class="col-xs-4" style="left:20px">
								<div id="4" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
								<div id="24" class="col-xs" style="text-align: left "></div>
								<div id="104" class="col-xs" style="text-align: left"></div>
							</div>

							<div class="col-xs-4" style="right:110px">
								<button id="84" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(84)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "44"></div></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-4">
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							<div class="col-xs-4" style="left:20px">
								<div id="5" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
								<div id="25" class="col-xs" style="text-align: left "></div>
								<div id="105" class="col-xs" style="text-align: left"></div>
							</div>

							<div class="col-xs-4" style="right:110px">
								<button id="85" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(85)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "45"></div></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			


		<div class="row">
				<div class="col-xs-4">
			 		<div class="jumbotron">
						<div class="container">
							<div class="row">
								<div class="col-xs-4" style="left: 20px">
									<div id="6" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
									<div id="26" class="col-xs" style="text-align: left"></div>
									<div id="106" class="col-xs" style="text-align: left"></div>
								</div>
								
								<div class="col-xs-4" style="right: 110px">
									<button id="86" type="button" class="btn btn-primary" onclick = "deleteTask(86)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "46"></div></button>
								</div>
							</div>
						</div>
					</div>
				</div> 
			
			<div class="col-xs-4">
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							<div class="col-xs-4" style="left: 20px">
								<div id="7" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
								<div id="27" class="col-xs" style="text-align: left"></div>
								<div id="107" class="col-xs" style="text-align: left"></div>
							</div>
							
							<div class="col-xs-4" style="right: 110px">
								<button id="87" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(87)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "47"></div></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-4">
				<div class="jumbotron">
						<div class="container">
							<div class="row">
								<div class="col-xs-4" style="left: 20px">
									<div id="8" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
									<div id="28" class="col-xs" style="text-align: left"></div>
									<div id="108" class="col-xs" style="text-align: left"></div>
								</div>

								<div class="col-xs-4" style="right: 110px">
									<button id="88" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(88)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "48"></div></button>
								</div>
							</div>
						</div>
				</div>		
			</div>
		</div>



		<div class="row">
			<div class="col-xs-4">
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							<div class="col-xs-4" style="left:20px">
								<div id="9" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
								<div id="29" class="col-xs" style="text-align: left "></div>
								<div id="109" class="col-xs" style="text-align: left"></div>
							</div>

							<div class="col-xs-4" style="right:110px">
								<button id="89" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(89)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "49"></div></button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-4">
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							<div class="col-xs-4" style="left:20px">
								<div id="10" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
								<div id="30" class="col-xs" style="text-align: left "></div>
								<div id="110" class="col-xs" style="text-align: left"></div>
							</div>

							<div class="col-xs-4" style="right:110px">
								<button id="90" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(90)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "50"></div></button>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-xs-4">
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							<div class="col-xs-4" style="left:20px">
								<div id="11" class="col-xs" style="text-align: left; width: 230px; word-wrap: break-word"></div>
								<div id="31" class="col-xs" style="text-align: left "></div>
								<div id="111" class="col-xs" style="text-align: left"></div>
							</div>

							<div class="col-xs-4" style="right:110px">
								<button id="91" type="button" class="btn btn-primary" value = "" onclick = "deleteTask(91)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><div id= "51"></div></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	</body>
</html>
<!-- Bootstrap and Chit Chat template used for bases -->